{{ form_start(form) }}
                    <div class="row">
                        <div class="col-xl-9 col-lg-11 col-md-10 col-sm-12">
                            <div class="form-row">
                                <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-4">
                                    {{ form_label(form.codigo) }}
							        {{ form_widget(form.codigo) }}
                                </div>
                                <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-4">
                                    {{ form_label(form.descripcionProducto) }}
							        {{ form_widget(form.descripcionProducto) }}
                                </div>
                                <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-4">
                                    {{ form_label(form.cantidadProducto) }}
                                    {{ form_widget(form.cantidadProducto) }}
                                </div>
                                <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-5">
                                    {{ form_label(form.unidadMedida) }}
                                    <div id="choiceCenterMedicMeditions">
							            {{ form_widget(form.unidadMedida) }}
                                    </div>
                                </div>
                                <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-4">
                                    {{ form_label(form.estado) }}
							        {{ form_widget(form.estado) }}
                                </div>
                                <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-4">
                                    {{ form_label(form.fechaIngreso) }}
							        {{ form_widget(form.fechaIngreso) }}
                                </div>
                                <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-4">
                                    {{ form_label(form.fechaCaducidad) }}
							        {{ form_widget(form.fechaCaducidad) }}
                                </div>
                                <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-4">
                                    {{ form_label(form.procedencia) }}
							        {{ form_widget(form.procedencia) }}
                                </div>
                                <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-4">
                                    {{ form_label(form.marca) }}
							        {{ form_widget(form.marca) }}
                                </div>
                                <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-4">
                                    {{ form_label(form.color) }}
							        {{ form_widget(form.color) }}
                                </div>
                                 <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-4">
                                    {{ form_label(form.observaciones) }}
							        {{ form_widget(form.observaciones) }}
                                </div>
                                 <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-4">
                                    {{ form_label(form.idGrupo) }}
							        {{ form_widget(form.idGrupo) }}
                                </div>
                                <br>
                                <div id="loteCentroMedico"></div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xl-9 col-lg-11 col-md-10 col-sm-12">
                            <div class="form-row">
                                <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-4">
                                    {{ form_label(form.guardar) }}
                                    {{ form_widget(form.guardar) }}
                                </div>
                                <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-4">
                                    {{ form_label(form.cancelar) }}
                                    {{ form_widget(form.cancelar) }}
                                </div>
                            </div>
                        </div>
                    </div>
                {{ form_end(form) }}